* {}

html {}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 98vh;
    justify-content: center;

    background-color: #FFCC80; 
/*     background-image: linear-gradient(45deg, #ff8720, #e860ff);
    background-image: url(/home/oussama/Pictures/); */
}

.container {

    border: 5px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 168);
}


.hdiv {
    display: flex;
}

.squares {
    /*     width: 30px;
    height: 30px; */

}

button {
    display: block;
    padding: 10px 20px;
    margin: 10px auto;
    background-color: black;
    color: white;
    font-size: large;
    font-weight: 600;
    border-radius: 10px;
    font-style: italic;
    box-shadow: 2px 2px black;
}


button:hover {
    scale: 1.1;
}