

* {}

html {}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 98vh;
    justify-content: center;
    /* background-color: crimson; */
    background-image: linear-gradient(45deg, #ff8720, #e860ff);
    background-image: url(/home/oussama/Pictures/tent_1280.png);
}

.container {
    display: inline-block;
    border: 1px solid rgb(255, 131, 131);
background-color: white;
}


.hdiv {
    display: flex;
}

.squares {
    /*     width: 30px;
    height: 30px; */

}

button {
    display: block;
    padding: 10px 20px;
    margin: 10px auto;
    background-color: black;
    color: white;
    font-size: large;
    font-weight: 600;
    border-radius: 10px;
    font-style: italic;
    box-shadow: 2px 2px black;
}


button:hover {
    scale: 1.1;
}


